name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    uses: flxbl-io/flxbl-actions/.github/workflows/ci.yml@main
    with:
      action-type: node

